body.exercicio {
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-areas:
    "cabeçalho"
    "navegação
    "principal
    "rodape";
}

.principal {
    height: calc(100vh - 240px);
}

.navegação {
    grid-area: navegação;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}

.navegação > a{
    text-decoration:none;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: rbg(33, 150, 243);
    padding: 5px 10px;
    margin-right: 10px;
}
